<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Ketevani Nanuashvili</h1>
        <h3>Front-end Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px">
        <a href="https://www.linkedin.com/in/ketevani-nanuashvili-4b3869220/" target="_blank" >
            <i class="fab fa-linkedin-in rounded-circle  me-2" style="font-size: 24px; color: blue; "></i>
        </a>
        <a href="https://www.facebook.com/qeti.nanuashvili/" target="_blank" >
            <i  class="fab fa-facebook rounded-circle  me-2" style="font-size: 24px; color: rgb(57, 57, 233); "></i>
        </a>
        <a href="https://github.com/KetNanuashvili" target="_blank" >
            <i class="fab fa-github rounded-circle  me-2" style="font-size: 24px; color: black; "></i>
        </a>
    </div>
</div>