<div class="container">
    <div class="row">
        <!-- about me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../../assets/myimg.jpg" alt="myimage" height="256px" width="256px" class="rounded-circle">
                <p style="margin-top: 50px;"> I am Ketevani Nanuashvili, a beginner front-end developer.
                     I have deep knowledge in HTML, CSS, JAVASCRIPT as well as basic knowledge in Angular. 
                     In my portfolio you will find small React, PHP projects and larger Angular projects.</p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featureProject.name}}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featureProject.pictures">
                    <slide>
                        <img src={{picture}} alt="slide" style="display: block; width:100%; height: 400px; ">
                    </slide>
                </div>
            </carousel>
            <p class="mt-2">{{featureProject.summary}}</p>
            <p>Visit the Portfolio section to learn more!</p>
        </div>
    </div>
</div>